.rect{
    fill: green;
    stroke: purple;
    stroke-width:1%;
}

.circleA{
    fill: purple;
    stroke-width:1%;

}

.circleB{
    fill: rebeccapurple;
    stroke-width:1%;
}

.circleC{
    fill: mediumpurple;
    stroke-width:1%;
}

#circle1{
    stroke:green;
}
#circle2{
    stroke: #39805b;
}
#circle3{
    stroke:green;
}
#circle4{
    stroke: #39805b;
}
#circle5{
    stroke:green;
}
#circle6{
    stroke: #39805b;
}
#circle7{
    stroke:green;
}
#circle8{
    stroke:#39805b;
}
#circle9{
    stroke:green;
}
#circle10{
    stroke:#39805b;
}
#circle11{
    stroke:green;
}