svg{
    background: gainsboro;
    width: 800px;
    height:800px;
}

.rect{
    fill: green;
    stroke: purple;
}

.circleA{
    fill: purple;
    stroke-width:10%;

}

.circleB{
    fill: rebeccapurple
}

.circleC{
    fill: mediumpurple
}

#circle1{
    stroke:green;
}
#circle2{
    stroke: #39805b;
}
#circle3{
    stroke:green;
}
#circle4{
    stroke:39805B;
}
#circle5{
    stroke:green;
}
#circle6{
    stroke:39805B;
}
#circle7{
    stroke:green;
}
#circle8{
    stroke:39805B;
}
#circle9{
    stroke:green;
}
#circle10{
    stroke:39805B;
}
#circle11{
    stroke:green;
}